In [52]:
import numpy as np
import pandas as pd
import datetime as dt
import warnings 
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv("D:/Hackathon/ad_clicks/train.csv",parse_dates=True)

In [14]:
data1=data

In [15]:
data1.head()

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,click,hour,weekday
0,IDsrk7SoW,2017-01-14 09:42:09,4709696.0,887235,17714,20301556,4,2,-1,0,9,5
1,IDmMSxHur,2017-01-18 17:50:53,5189467.0,178235,21407,9434818,1,8,0,0,17,2
2,IDVLNN0Ut,2017-01-11 12:46:49,98480.0,518539,25085,2050923,0,1,-1,0,12,2
3,ID32T6wwQ,2017-01-17 10:18:43,8896401.0,390352,40339,72089744,2,2,1,0,10,1
4,IDqUShzMg,2017-01-14 16:02:33,5635120.0,472937,12052,39507200,3,8,0,0,16,5

In [100]:
type(data['datetime'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [4]:
data['datetime']=pd.to_datetime(data['datetime'])

In [39]:
data.corr()

,siteid,offerid,category,merchant,click,day,hour,weekday
siteid,1.000000,-0.001261,-0.003482,-0.002856,-0.000312,-0.003836,0.000070,-0.001246
offerid,-0.001261,1.000000,-0.001896,-0.000479,0.000329,0.008659,0.003878,-0.003832
category,-0.003482,-0.001896,1.000000,-0.094235,-0.005391,0.021651,-0.011856,-0.002473
merchant,-0.002856,-0.000479,-0.094235,1.000000,0.020057,-0.011012,0.001577,-0.000481
click,-0.000312,0.000329,-0.005391,0.020057,1.000000,-0.003683,0.057955,-0.007473
day,-0.003836,0.008659,0.021651,-0.011012,-0.003683,1.000000,-0.117109,0.046016
hour,0.000070,0.003878,-0.011856,0.001577,0.057955,-0.117109,1.000000,-0.061796
weekday,-0.001246,-0.003832,-0.002473,-0.000481,-0.007473,0.046016,-0.061796,1.000000

In [5]:
data['month'],data['year']=data['datetime'].dt.month,data['datetime'].dt.year

In [34]:
data['day'].value_counts()

14    1389530
11    1362188
20    1250560
12    1227125
17    1181637
13    1161582
16    1117503
18    1041133
15     936200
10     773899
19     696453
Name: day, dtype: int64

In [40]:
data['datetime'].nunique()

515116

In [6]:
data.drop(['month','year'],axis=1,inplace=True)

In [7]:
data['day'],data['hour']=data['datetime'].dt.day,data['datetime'].dt.hour

In [8]:
data['weekday']=data['datetime'].dt.weekday

In [42]:
data=data.dropna()

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8821613 entries, 1 to 12137808
Data columns (total 13 columns):
ID             object
datetime       datetime64[ns]
siteid         float64
offerid        int64
category       int64
merchant       int64
countrycode    object
browserid      object
devid          object
click          int64
day            int64
hour           int64
weekday        int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(4)
memory usage: 942.2+ MB

In [9]:
data["countrycode"] = data['countrycode'].astype('category')
data["browserid"] = data['browserid'].astype('category')
data["devid"] = data['devid'].astype('category')

In [10]:
data["browserid"] = data['browserid'].cat.codes
data["devid"] = data['devid'].cat.codes

In [11]:
data["countrycode"] = data['countrycode'].cat.codes

In [12]:
data.head()

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,click,day,hour,weekday
0,IDsrk7SoW,2017-01-14 09:42:09,4709696.0,887235,17714,20301556,4,2,-1,0,14,9,5
1,IDmMSxHur,2017-01-18 17:50:53,5189467.0,178235,21407,9434818,1,8,0,0,18,17,2
2,IDVLNN0Ut,2017-01-11 12:46:49,98480.0,518539,25085,2050923,0,1,-1,0,11,12,2
3,ID32T6wwQ,2017-01-17 10:18:43,8896401.0,390352,40339,72089744,2,2,1,0,17,10,1
4,IDqUShzMg,2017-01-14 16:02:33,5635120.0,472937,12052,39507200,3,8,0,0,14,16,5

In [51]:
data['click'].value_counts()

0    8504113
1     317500
Name: click, dtype: int64

In [13]:
data.drop(['day'],axis=1,inplace=True)

In [75]:
X=data.drop(['click'],axis=1)
X=X[['countrycode','browserid','devid','hour','weekday']]
y=data.click

In [76]:
X.columns

Index(['countrycode', 'browserid', 'devid', 'hour', 'weekday'], dtype='object')

In [72]:
X.drop(['ID','datetime'],axis=1,inplace=True)

In [60]:
test=pd.read_csv("D:/Hackathon/ad_clicks/test.csv",parse_dates=True)

In [61]:
test=test.dropna()

In [64]:
test['datetime']=pd.to_datetime(test['datetime'])
test['hour']=test['datetime'].dt.hour
test['weekday']=test['datetime'].dt.weekday
test["countrycode"] = test['countrycode'].astype('category')
test["browserid"] = test['browserid'].astype('category')
test["devid"] = test['devid'].astype('category')
test["browserid"] = test['browserid'].cat.codes
test["devid"] = test['devid'].cat.codes
test["countrycode"] = test['countrycode'].cat.codes
test.head()

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,hour,weekday
0,IDFDJVI,2017-01-22 09:55:48,755610.0,808980,17714,26391770,1,8,0,9,6
1,IDNWkTQ,2017-01-22 03:54:39,3714899.0,280355,12052,39507200,1,1,2,3,6
3,IDHaQaj,2017-01-22 14:45:53,1754730.0,612234,11837,8837581,1,1,2,14,6
5,IDFZS6l,2017-01-22 13:31:06,2182389.0,726166,40339,43452411,1,3,1,13,6
6,IDecQv2,2017-01-22 16:25:43,1549414.0,32183,40339,43452411,0,8,0,16,6

In [69]:
test.drop(['ID','datetime'],axis=1,inplace=True)

In [66]:
X_test

8821613

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8821613 entries, 1 to 12137808
Data columns (total 12 columns):
ID             object
datetime       datetime64[ns]
siteid         float64
offerid        int64
category       int64
merchant       int64
countrycode    int8
browserid      int8
devid          int8
click          int64
hour           int64
weekday        int64
dtypes: datetime64[ns](1), float64(1), int64(6), int8(3), object(1)
memory usage: 698.3+ MB

In [73]:
from sklearn.model_selection import train_test_split

In [81]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [84]:
y_train.value_counts()

0    5952879
1     222250
Name: click, dtype: int64

In [46]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(class_weight={0:0.3,1:0.7})
logreg.fit(X_train,y_train)
threshold=0.30
y_predict=np.where(logreg.predict_proba(X_test)[:,1]>threshold,1,0)

In [47]:
# import packages
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# Code starts here
cf=confusion_matrix(y_test,y_predict)
acc=accuracy_score(y_test,y_predict)
precision=precision_score(y_test,y_predict)
recall=recall_score(y_test,y_predict)
f_score=f1_score(y_test,y_predict)


print(cf)
print(acc)
print(precision)
print(recall)
print(f1_score)
print(acc)


# Code starts here

[[3458932   51247]
 [  38040   93124]]
0.9754796513264474
0.6450325896475054
0.7099813973346345
<function f1_score at 0x000000FAE34640D0>
0.9754796513264474

In [48]:
# import packages
from sklearn.metrics import roc_auc_score

roc=roc_auc_score(y_test,y_predict)

print(roc)

0.8476909284846571

In [49]:
f1_score(y_test,y_predict)

0.6759504237211243

In [91]:
data.columns

Index(['ID', 'datetime', 'siteid', 'offerid', 'category', 'merchant',
       'countrycode', 'browserid', 'devid', 'click', 'hour', 'weekday'],
      dtype='object')

In [107]:
data['siteid']=data['siteid'].astype('int64')

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [108]:
from sklearn.preprocessing import StandardScaler

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,click,hour,weekday
1,IDmMSxHur,2017-01-18 17:50:53,5189467,178235,21407,9434818,1,8,0,0,17,2
3,ID32T6wwQ,2017-01-17 10:18:43,8896401,390352,40339,72089744,2,2,1,0,10,1
4,IDqUShzMg,2017-01-14 16:02:33,5635120,472937,12052,39507200,3,8,0,0,16,5
5,IDjO9XQ1Z,2017-01-14 12:08:49,2729292,961176,33638,47079934,4,3,1,0,12,5
7,IDFnmhUgG,2017-01-13 05:58:13,7295565,144797,33638,23981625,1,2,1,0,5,4

In [131]:
data_encoding=data1

In [132]:
data_encoding.head()

,ID,datetime,siteid,offerid,category,merchant,countrycode,browserid,devid,click,day,hour,weekday
0,IDsrk7SoW,2017-01-14 09:42:09,4709696.0,887235,17714,20301556,e,Firefox,NaN,0,14,9,5
1,IDmMSxHur,2017-01-18 17:50:53,5189467.0,178235,21407,9434818,b,Mozilla Firefox,Desktop,0,18,17,2
2,IDVLNN0Ut,2017-01-11 12:46:49,98480.0,518539,25085,2050923,a,Edge,NaN,0,11,12,2
3,ID32T6wwQ,2017-01-17 10:18:43,8896401.0,390352,40339,72089744,c,Firefox,Mobile,0,17,10,1
4,IDqUShzMg,2017-01-14 16:02:33,5635120.0,472937,12052,39507200,d,Mozilla Firefox,Desktop,0,14,16,5

In [124]:
data_encoding.columns

Index(['ID', 'datetime', 'siteid', 'offerid', 'category', 'merchant',
       'countrycode', 'browserid', 'devid', 'click', 'day', 'hour', 'weekday'],
      dtype='object')

In [133]:
data_encoding=data_encoding[['countrycode','browserid','devid','day','hour','weekday','click']]

In [134]:
data_encoding=data_encoding.dropna()

In [135]:
X=data_encoding.drop(['click'],axis=1)
y=data_encoding.click

In [136]:
print(X.columns)

Index(['countrycode', 'browserid', 'devid', 'day', 'hour', 'weekday'], dtype='object')

In [137]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [141]:
def add_noise(series, noise_level):
    return series * (1 + noise_level * np.random.randn(len(series)))

def target_encode(trn_series=None, tst_series=None, target=None, min_samples_leaf=1,smoothing=1,noise_level=0):
    #assert len(trn_series) == len(target)
    #assert trn_series.name == tst_series.name
    temp = pd.concat([trn_series, target], axis=1)
    # Compute target mean 
    averages = temp.groupby(by=trn_series.name)[target.name].agg(["mean", "count"])
    # Compute smoothing
    smoothing = 1 / (1 + np.exp(-(averages["count"] - min_samples_leaf) / smoothing))
    # Apply average function to all target data
    prior = target.mean()
    # The bigger the count the less full_avg is taken into account
    averages[target.name] = prior * (1 - smoothing) + averages["mean"] * smoothing
    averages.drop(["mean", "count"], axis=1, inplace=True)
    # Apply averages to trn and tst series
    ft_trn_series = pd.merge(trn_series.to_frame(trn_series.name),
                             averages.reset_index().rename(columns={'index': target.name, target.name: 'average'})
                             ,on=trn_series.name,how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_trn_series.index = trn_series.index 
    ft_tst_series = pd.merge(tst_series.to_frame(tst_series.name),
                             averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),
                             on=tst_series.name,how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_tst_series.index = tst_series.index
    return add_noise(ft_trn_series, noise_level), add_noise(ft_tst_series, noise_level)

In [151]:
trn, sub = target_encode(X_train["browserid"], X_test["browserid"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [154]:
trn1, sub1 = target_encode(X_train["countrycode"], X_test["countrycode"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [159]:
trn2, sub2 = target_encode(X_train["devid"], X_test["devid"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [160]:
trn2

9235239     0.067726
5130547     0.065968
7932507     0.040637
2909042     0.038951
7809998     0.066613
5162803     0.038824
6618062     0.039128
4546578     0.039984
7017213     0.067276
7111939     0.039468
11266993    0.065850
5781269     0.066372
2405667     0.005609
9502323     0.066908
9975017     0.039989
470755      0.040120
4459689     0.005528
2162213     0.039485
9616266     0.065935
3678212     0.065634
198156      0.040047
11066043    0.005469
10256966    0.005526
5001166     0.005529
3405835     0.067694
8455841     0.005523
12119414    0.005485
2694676     0.038846
6341331     0.005468
9830690     0.005526
              ...
1016677     0.039284
3743187     0.039394
268659      0.039338
3599200     0.066031
11199724    0.067267
1036125     0.039401
6802966     0.038727
11439252    0.039241
1010614     0.039646
1476760     0.039147
7413571     0.067006
1836884     0.040569
6406301     0.005544
7968704     0.005520
2505236     0.005454
1810190     0.005496
6296393     0.005486
895827      0.039177
3376608     0.039078
7907325     0.039754
8248091     0.005544
6580484     0.039399
8783884     0.066832
6716722     0.005484
11304235    0.039803
873426      0.039663
3134892     0.039459
6491596     0.039396
3809954     0.039150
11142819    0.005471
Name: devid_mean, Length: 6860406, dtype: float64

In [146]:
X_train['te_countrycode']=trn
X_test['te_countrycode']=sub

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [158]:
X_train['te_browserid']=trn1
X_test['te_browserid']=sub1

In [162]:
X_train['te_devid']=trn2
X_test['te_devid']=sub2

In [165]:
X_train.drop(['browserid','devid','countrycode'],axis=1,inplace=True)
X_test.drop(['browserid','devid','countrycode'],axis=1,inplace=True)

In [167]:
X_train.drop(['day'],axis=1,inplace=True)
X_test.drop(['day'],axis=1,inplace=True)
X_test.head()

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

         hour  weekday  te_countrycode  te_browserid  te_devid
8019663    17        1        0.004149      0.004168  0.005568
9208149     7        1        0.181783      0.184692  0.067267
5183267    16        1        0.004158      0.004130  0.039646
7389229    12        0        0.007302      0.007229  0.039599
6681446    10        3        0.004087      0.004112  0.005594

In [41]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(class_weight={0:0.1,1:0.9})
logreg.fit(X_train,y_train)
threshold=0.25
y_predict=np.where(logreg.predict_proba(X_test)[:,1]>threshold,1,0)

In [42]:
# import packages
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# Code starts here
cf=confusion_matrix(y_test,y_predict)
acc=accuracy_score(y_test,y_predict)
precision=precision_score(y_test,y_predict)
recall=recall_score(y_test,y_predict)
f_score=f1_score(y_test,y_predict)


print(cf)
print(acc)
print(precision)
print(recall)
print(f1_score)
print(acc)


# Code starts here

[[3084110  426069]
 [  12310  118854]]
0.8796106271779396
0.2181115497051877
0.906148028422433
<function f1_score at 0x000000FAE34640D0>
0.8796106271779396

In [43]:
# import packages
from sklearn.metrics import roc_auc_score

roc=roc_auc_score(y_test,y_predict)

print(roc)

0.8923835195099492

In [45]:
f1_score(y_test,y_predict)

0.35159380375602545

In [172]:
data.columns

Index(['ID', 'datetime', 'siteid', 'offerid', 'category', 'merchant',
       'countrycode', 'browserid', 'devid', 'click', 'hour', 'weekday'],
      dtype='object')

In [177]:
data['merchant'].value_counts()

99510044    328721
43452411    274991
74363610    263258
26391770    262966
49384126    177525
57977218    166509
555603      166460
7122654     160218
29916445    147510
74868704    147246
7864011     142589
31388981    136416
27723861    136269
20301556    135844
43770446    131234
91553313    129632
30860214    128050
65017662    115660
37135965    113479
15961717    109215
4000296     105422
47079934    103136
87807327     97733
55358028     90557
67290861     88762
61940782     87014
67147700     85042
2050923      80061
54526992     78172
93157824     77234
             ...
82396611        38
68558271        36
61673872        35
53065903        34
44247871        33
90293513        33
79649944        31
4571619         29
71136727        29
74599462        29
23020204        28
15946833        28
78629268        28
39714470        28
38069694        23
1042419         22
38685003        19
32812292        18
8148112         18
77041230        17
34742359        16
51795179        16
32039193        15
4349589         14
17050796        11
59428470        10
29657053         7
99496733         3
42753642         1
81560686         1
Name: merchant, Length: 697, dtype: int64

In [176]:
data['category'].value_counts()

40339    541247
42227    501017
6906     445006
904      294707
17714    275308
82877    217625
5602     183605
97863    183362
1678     176132
11837    174392
48498    173051
80554    157987
34670    142544
41706    137433
73248    136770
33638    129676
10345    129661
12211    119507
95113    115750
45620    114474
54916    105819
92704    101930
9764     100825
30580     96049
93286     82413
21407     82131
82396     80192
53956     80081
8467      77770
23576     76085
          ...
43133       611
62180       554
52453       497
76126       395
55206       387
25259       367
48797       332
2757        324
12019       208
39112       206
38881       205
86014       197
56150       193
7353        182
84407       148
97          145
47190       135
277         130
35380       129
91868       124
18243       118
77227       114
17801       112
19010       100
25959        98
88170        75
20111        67
21503        42
51532        16
69325         8
Name: category, Length: 271, dtype: int64

In [17]:
data_encoding1=data1
data_encoding1=data_encoding1[['category','merchant','countrycode','browserid','devid','hour','weekday','click']]

In [18]:
data_encoding1['daytime'] = pd.cut(data_encoding1['hour'],[1,7,13,19,25],labels=['night','morning','afternoon','evening'])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
data_encoding1.head()

,category,merchant,countrycode,browserid,devid,hour,weekday,click,daytime
0,17714,20301556,4,2,-1,9,5,0,morning
1,21407,9434818,1,8,0,17,2,0,afternoon
2,25085,2050923,0,1,-1,12,2,0,morning
3,40339,72089744,2,2,1,10,1,0,morning
4,12052,39507200,3,8,0,16,5,0,afternoon

In [20]:
data_encoding1.dropna()

,category,merchant,countrycode,browserid,devid,hour,weekday,click,daytime
0,17714,20301556,4,2,-1,9,5,0,morning
1,21407,9434818,1,8,0,17,2,0,afternoon
2,25085,2050923,0,1,-1,12,2,0,morning
3,40339,72089744,2,2,1,10,1,0,morning
4,12052,39507200,3,8,0,16,5,0,afternoon
5,33638,47079934,4,3,1,12,5,0,morning
6,68847,58604466,1,1,-1,13,3,0,morning
7,33638,23981625,1,2,1,5,4,0,night
8,15912,30860214,2,1,2,13,2,0,morning
9,89680,74363610,0,1,2,12,5,0,morning
10,76239,65017662,0,1,2,11,5,0,morning
11,43612,74868704,1,3,1,3,3,0,night
12,97863,56008048,1,8,0,14,2,0,afternoon
13,43612,57517812,2,-1,0,21,6,1,evening
14,17714,26391770,0,7,0,10,2,0,morning
15,71642,27723861,0,1,2,13,3,0,morning
16,93286,7122654,0,3,1,15,1,1,afternoon
17,17714,26391770,1,2,1,14,5,0,afternoon
18,12211,58163546,0,3,1,16,2,0,afternoon
19,41706,4000296,0,8,0,9,2,0,morning
20,81229,35819606,1,1,2,12,1,0,morning
21,904,2050923,1,7,0,17,1,0,afternoon
22,34670,78365183,0,1,2,12,4,0,morning
23,10345,33683592,5,7,0,15,5,0,afternoon
24,73248,57777528,0,-1,2,10,3,0,morning
25,42227,95013373,1,7,0,14,0,0,afternoon
26,96184,93157824,0,7,-1,6,2,0,night
27,79668,81758577,1,1,2,13,5,0,morning
28,73248,83960204,0,-1,1,17,2,0,afternoon
29,64452,65017662,1,0,0,14,1,0,afternoon
...,...,...,...,...,...,...,...,...,...
12137780,21407,43179292,1,1,2,9,3,0,morning
12137781,35368,90093962,4,2,-1,6,6,0,night
12137782,54343,71193712,1,2,-1,7,6,0,night
12137783,45620,31388981,1,7,-1,14,2,0,afternoon
12137784,40339,43452411,2,1,2,16,4,0,afternoon
12137785,96184,22050486,5,2,-1,19,2,0,afternoon
12137786,93188,91553313,1,2,1,13,1,0,morning
12137787,46365,26391770,1,2,1,17,1,0,afternoon
12137788,17714,26391770,4,1,2,3,0,0,night
12137789,49810,15961717,0,1,2,15,5,0,afternoon
12137790,34670,87807327,0,-1,2,15,5,0,afternoon
12137791,6906,99510044,1,4,1,13,3,0,morning
12137792,96184,93157824,4,10,2,4,4,0,night
12137793,40339,37135965,1,7,0,17,2,0,afternoon
12137794,60316,74868704,3,1,2,17,0,0,afternoon
12137795,42227,18243870,1,1,2,13,2,0,morning
12137796,34670,87807327,1,4,1,16,3,0,afternoon
12137797,10345,64511164,1,1,2,17,6,0,afternoon
12137798,33638,13789995,2,2,1,9,2,0,morning
12137799,25491,79474990,1,1,2,18,3,0,afternoon
12137800,17714,26391770,4,2,1,15,2,0,afternoon
12137801,40339,43452411,0,7,0,9,0,0,morning
12137802,17714,29916445,1,7,0,14,5,0,afternoon
12137803,61302,20301556,1,1,2,11,4,0,morning
12137804,25491,74868704,1,8,0,13,4,0,morning
12137805,82877,26120440,0,3,1,14,0,0,afternoon
12137806,84987,76367582,0,2,1,11,4,0,morning
12137807,34670,41475976,1,2,1,11,3,0,morning
12137808,40339,43452411,4,1,2,8,5,0,morning
12137809,92704,95441506,2,3,1,13,2,0,morning

In [21]:
data_encoding1.drop(['hour'],axis=1,inplace=True)

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [22]:
X=data_encoding1.drop(['click'],axis=1)
y=data_encoding1.click

In [23]:
X.columns

Index(['category', 'merchant', 'countrycode', 'browserid', 'devid', 'weekday',
       'daytime'],
      dtype='object')

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [26]:
def add_noise(series, noise_level):
    return series * (1 + noise_level * np.random.randn(len(series)))

def target_encode(trn_series=None, tst_series=None, target=None, min_samples_leaf=1,smoothing=1,noise_level=0):
    #assert len(trn_series) == len(target)
    #assert trn_series.name == tst_series.name
    temp = pd.concat([trn_series, target], axis=1)
    # Compute target mean 
    averages = temp.groupby(by=trn_series.name)[target.name].agg(["mean", "count"])
    # Compute smoothing
    smoothing = 1 / (1 + np.exp(-(averages["count"] - min_samples_leaf) / smoothing))
    # Apply average function to all target data
    prior = target.mean()
    # The bigger the count the less full_avg is taken into account
    averages[target.name] = prior * (1 - smoothing) + averages["mean"] * smoothing
    averages.drop(["mean", "count"], axis=1, inplace=True)
    # Apply averages to trn and tst series
    ft_trn_series = pd.merge(trn_series.to_frame(trn_series.name),
                             averages.reset_index().rename(columns={'index': target.name, target.name: 'average'})
                             ,on=trn_series.name,how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_trn_series.index = trn_series.index 
    ft_tst_series = pd.merge(tst_series.to_frame(tst_series.name),
                             averages.reset_index().rename(columns={'index': target.name, target.name: 'average'}),
                             on=tst_series.name,how='left')['average'].rename(trn_series.name + '_mean').fillna(prior)
    # pd.merge does not keep the index so restore it
    ft_tst_series.index = tst_series.index
    return add_noise(ft_trn_series, noise_level), add_noise(ft_tst_series, noise_level)

In [212]:
X_train.columns

Index(['category', 'merchant', 'countrycode', 'browserid', 'devid', 'day',
       'weekday', 'daytime', 'en_category', 'en_merchant', 'en_countrycode',
       'en_browserid', 'en_devid', 'en_day', 'en_weekday', 'en_daytime'],
      dtype='object')

In [27]:
trn, sub = target_encode(X_train["category"], X_test["category"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [28]:
trn1, sub1 = target_encode(X_train["merchant"], X_test["merchant"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [29]:
trn2, sub2 = target_encode(X_train["countrycode"], X_test["countrycode"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [30]:
trn3, sub3 = target_encode(X_train["browserid"], X_test["browserid"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [31]:
trn4, sub4 = target_encode(X_train["devid"], X_test['devid'],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [32]:
trn6, sub6 = target_encode(X_train["weekday"], X_test["weekday"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [33]:
trn7, sub7 = target_encode(X_train["daytime"], X_test["daytime"],
                         target=y_train, min_samples_leaf=100,smoothing=10,noise_level=0.01)

In [34]:
X_train['en_category']=trn

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [213]:
X_train.columns

Index(['category', 'merchant', 'countrycode', 'browserid', 'devid', 'day',
       'weekday', 'daytime', 'en_category', 'en_merchant', 'en_countrycode',
       'en_browserid', 'en_devid', 'en_day', 'en_weekday', 'en_daytime'],
      dtype='object')

In [35]:
X_train['en_merchant']=trn1
X_train['en_countrycode']=trn2
X_train['en_browserid']=trn3
X_train['en_devid']=trn4

X_train['en_weekday']=trn6
X_train['en_daytime']=trn7

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [36]:
X_test['en_category']=sub
X_test['en_merchant']=sub1
X_test['en_countrycode']=sub2
X_test['en_browserid']=sub3
X_test['en_devid']=sub4

X_test['en_weekday']=sub6
X_test['en_daytime']=sub7

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [37]:
X_train.drop(['category', 'merchant', 'countrycode', 'browserid', 'devid','weekday', 'daytime'],axis=1,inplace=True)

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [39]:
X_test.drop(['category', 'merchant', 'countrycode', 'browserid', 'devid','weekday', 'daytime'],axis=1,inplace=True)

C:\Users\Admin\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [40]:
X_train.columns

Index(['en_category', 'en_merchant', 'en_countrycode', 'en_browserid',
       'en_devid', 'en_weekday', 'en_daytime'],
      dtype='object')

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(class_weight={0:0.3,1:0.7})
logreg.fit(X_train,y_train)
threshold=0.30
y_predict=np.where(logreg.predict_proba(X_test)[:,1]>threshold,1,0)

In [ ]:
# import packages
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# Code starts here
cf=confusion_matrix(y_test,y_predict)
acc=accuracy_score(y_test,y_predict)
precision=precision_score(y_test,y_predict)
recall=recall_score(y_test,y_predict)
f_score=f1_score(y_test,y_predict)


print(cf)
print(acc)
print(precision)
print(recall)
print(f1_score)
print(acc)


# Code starts here

In [53]:
X_train.columns

Index(['en_category', 'en_merchant', 'en_countrycode', 'en_browserid',
       'en_devid', 'en_weekday', 'en_daytime'],
      dtype='object')

In [69]:
import pandas as pd
import numpy as np
from sklearn import cross_validation
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.feature_selection import SelectKBest, f_classif
import re
import matplotlib.pyplot as plt


#https://www.kaggle.com/dhey24/ensemble-of-logistic-and-gradient-boosted








predictors = ['en_category', 'en_merchant', 'en_countrycode', 'en_browserid','en_devid', 'en_weekday', 'en_daytime']

# Perform feature selection
selector = SelectKBest(f_classif, k=5)
selector.fit(train[predictors], train['click'])

# Get the raw p-values for each feature, and transform from p-values into scores
#scores = -np.log10(selector.pvalues_)

# Plot the scores.  See how "Pclass", "Sex", "Title", and "Fare" are the best?
#plt.bar(range(len(predictors)), scores)
#plt.xticks(range(len(predictors)), predictors, rotation='vertical')
#plt.show()

#use top 4
#predictors = ["Pclass", "Sex", "Fare", "Title"]

#Ensemble Gradient Boosting and Logistic Regression
algorithms = [[GradientBoostingClassifier(random_state=1, n_estimators=25, max_depth=3),
               [ 'en_countrycode', 'en_browserid','en_devid',  'en_daytime']],
              [LogisticRegression(random_state=1),
               ['en_category', 'en_merchant',  'en_browserid','en_devid', 'en_daytime']]]

kf = cross_validation.KFold(train.shape[0], n_folds=3, random_state=1)

pred = []
full_test_predictions = []
for alg, predictors in algorithms:
    alg.fit(train[predictors], train['click'])
    test_predictions=alg.predict_proba(X_test.astype(float))[:,1]
    full_test_predictions.append(test_predictions)
test_predictions = (full_test_predictions[0] + full_test_predictions[1]) / 2

test_predictions[test_predictions <= .5] = 0
test_predictions[test_predictions > .5] = 1
pred.append(test_predictions)

y_predict = np.concatenate(pred, axis=0)

ValueError: Number of features of the model must match the input. Model n_features is 4 and input n_features is 7

In [66]:
train=pd.concat([X_train,y_train],axis=1)

In [68]:
train.columns

Index(['en_category', 'en_merchant', 'en_countrycode', 'en_browserid',
       'en_devid', 'en_weekday', 'en_daytime', 'click'],
      dtype='object')

In [ ]:
# import packages
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

# Code starts here
cf=confusion_matrix(y_test,y_predict)
acc=accuracy_score(y_test,y_predict)
precision=precision_score(y_test,y_predict)
recall=recall_score(y_test,y_predict)
f_score=f1_score(y_test,y_predict)


print(cf)
print(acc)
print(precision)
print(recall)
print(f1_score)
print(acc)


# Code starts here